cramjam==2.10.0
et_xmlfile==2.0.0
fastparquet==2024.11.0
fsspec==2025.5.1
names==0.3.0
numpy==2.3.1
packaging==25.0
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
rstr==3.2.2
six==1.17.0
tzdata==2025.2
